<h1>Part #1</h1>
<form action="http://127.0.0.1:8000/weather/" method="post">
    <input type="text" name="select1" id="select1">Enter city
    <button class="btn btn-default" onclick="location.href = '127.0.0.1:8000/weather/';" >Send</button>
</form>
<h1>Part #2</h1>
<form action="http://127.0.0.1:8000/filters/" method="get">
    <input type="text" name="filter1" id="filter1">Enter city
    <button class="btn btn-default" onclick="TFun()" >Send</button>
    <script>
        function TFun(){
          document.getElementById('name').value;
          location.href = '127.0.0.1:8000/filters/';
        }
      </script>
</form>
<form action="http://127.0.0.1:8000/filters/" method="send">
    <input type="text" name="filter2" id="filter2">Enter date from
    <button class="btn btn-default" onclick="location.href = '127.0.0.1:8000/filters/';" >Send</button>
</form>
<form action="http://127.0.0.1:8000/filters/" method="send">
    <input type="text" name="filter3" id="filter3">Enter date to
    <button class="btn btn-default" onclick="location.href = '127.0.0.1:8000/filters/';" >Send</button>
</form>